h1{
    text-align:center;
    color:rgb(243, 87, 160);
    font: size 24px;;
}
h2{
    text-align:center;
    color:rgb(251, 134, 188);
}
body{
    font-family:"Times New Roman";
    background-color: rgb(255, 255, 255);
}
.image-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.image-row img {
  max-width: 40%;
}

